* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Gilroy500;
    src: url(../assets/fonts/Gilroy/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Gilroy600;
    src: url(../assets/fonts/Gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: Gilroy700;
    src: url(../assets/fonts/Gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: Evogria;
    src: url(../assets/fonts/Evogria/Evogria.otf);
}

:root {
    --main-color: rgb(99, 102, 241);
    --second-color: rgb(32, 31, 80);
    --text-color: rgb(136, 136, 136);
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 15px;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}